/* Homepage */
.rounded {
  border-radius: 100px;
  margin-top: 40px;
}

.jumbotron {
  background: #ffffff;
  padding: 20px 30px;
}

/* Posts page */
ul {
  list-style: none;
  li {
    .date {
      float: left;
      margin-right: 1rem;
      line-height: 3rem;
      color: @gray-light;
      width: 130px;
    }
  }
}

.container pre[class*='language-'] > code[data-language] {
  overflow: auto;
}